Repository SharperInfo/blog-demo-django-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, pylint, curlylint, prettier, eslint, stylelint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args:
          - "--fix=lf"
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: python
        types: [python]
      - id: black
        name: black
        entry: black
        language: python
        types: [python]
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        args: ["--score=n", "--verbose"]
      - id: curlylint
        name: curlylint
        entry: curlylint
        language: python
        types: [html]
      - id: prettier
        name: prettier
        entry: npx prettier
        language: node
        types_or: [javascript, scss, markdown, yaml, json]
        args: ["--write", "--list-different"]
      - id: eslint
        name: eslint
        entry: npx eslint
        language: node
        types: [javascript]
      - id: stylelint
        name: stylelint
        entry: npx stylelint
        language: node
        types: [scss]
        args: ["--fix"]

Add build step
  app.json
  bin/build
Due: prettier

Basic form
  blog_demo_django_app/forms.py
  blog_demo_django_app/settings.py
  blog_demo_django_app/static/scss/_base.scss
  blog_demo_django_app/static/scss/_typography.scss
  blog_demo_django_app/static/scss/bundle.scss
  blog_demo_django_app/static/scss/components/_crispy-forms.scss
  blog_demo_django_app/static/scss/components/_header.scss
  blog_demo_django_app/templates/blog_demo_django_app/_footer.html
  blog_demo_django_app/templates/blog_demo_django_app/_header.html
  blog_demo_django_app/templates/blog_demo_django_app/order-meal.html
  blog_demo_django_app/tests/test_order_meal_form.py
  blog_demo_django_app/urls.py
  blog_demo_django_app/views.py
  requirements.in
  requirements.txt
Due: isort, black, pylint, curlylint, prettier, stylelint

HTMX-ify the form
  .dictionary
  blog_demo_django_app/forms.py
  blog_demo_django_app/static/js/bundle.js
  blog_demo_django_app/templates/blog_demo_django_app/_order-meal-form-content.html
  blog_demo_django_app/templates/blog_demo_django_app/order-meal.html
  blog_demo_django_app/views.py
  package-lock.json
  package.json
Due: isort, black, pylint, curlylint, prettier, eslint

Update README.markdown
  README.markdown
Due: prettier

Simplify HTMX
  blog_demo_django_app/forms.py
  blog_demo_django_app/templates/blog_demo_django_app/_header.html
  blog_demo_django_app/templates/blog_demo_django_app/_order-meal-form-content.html
  blog_demo_django_app/templates/blog_demo_django_app/order-meal.html
  blog_demo_django_app/views.py
Due: isort, black, pylint, curlylint

Update order-meal.html
  blog_demo_django_app/templates/blog_demo_django_app/order-meal.html
Due: curlylint

Add full-stack test
  .github/workflows/full-stack.yaml
  .gitignore
  blog_demo_django_app/forms.py
  blog_demo_django_app/templates/blog_demo_django_app/order-meal.html
  cypress.json
  cypress/.eslintrc.json
  cypress/integration/order-meal.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
Due: isort, black, pylint, curlylint, prettier, eslint
